# Binaries
main
*.o

# Data files
*.csv
*.edf
*.json

# Patient data which should stay private and not be committed to the repository
patient.cfg

# Directories
.venv/
build/
*.bin
!biometric_filtered.bin
*.html
*.pyc
*pdf
*.zarr/
src_web/node_modules/
