# Target
CONFIG_IDF_TARGET="esp32c6"

# CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# NimBLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_NVS_PERSIST=n
CONFIG_BT_NIMBLE_SM_LEGACY=n
CONFIG_BT_NIMBLE_SM_SC=n

# Wi-Fi
CONFIG_ESP_WIFI_ENABLED=y

# FATFS / SD
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255

# Stack sizes
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Polysom application
CONFIG_POLYSOM_WIFI_SSID="TP-Link_DF6E"
CONFIG_POLYSOM_WIFI_PASSWORD="62333214"
CONFIG_POLYSOM_NTP_SERVER="pool.ntp.org"
